body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.navigation-bar-section{
    background-image: linear-gradient(lightblue, black);
    background-size: cover;
    padding: 30px;
}

.navigation-button{
    padding: 10px;
    font-weight: 500;
}
.flex-display{
    display: flex;
    margin-bottom: 50px; 
    justify-content: center;    
}

h1{
    font-size: 35px;
    text-align: Center;
}
p{
    font-size: 20px;
}

.half-width{
    width: 50%;
    margin: 15px 60px;
    padding: 1px 0px;
    
}
.half-width img{
    width: 100%;
    border-radius: 40px;
}
.span-color{
    color:rgb(47, 156, 196);
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(6, 64, 83), lightblue);
    color: white;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 20px;

}
.about-me-section{
    background-image: url(images/shapes/backgroundFrame.jpg);
    height: 600px;
    align-items: center;
    padding: 20px 30px;
    background-repeat: no-repeat;
    background-size:cover;
    
}
.recipe-section{
    text-align: center;
    margin: 30px 60px;
    padding: 10px;
}
#recipe-title{
    text-align: center;
    padding: 0px 300px ;
}
.recipe-details{
    text-align: left;
    border: 1px solid white;
    margin: 10px 25px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px gray;
}
.contract-us-section{
    margin: 20px 200px;
    padding: 10px;
    border: 7px solid rgb(6, 64, 83);
    border-radius: 20px;
    box-shadow: 10px 10px 8px gray;

}
.text-field-space{
    margin-bottom: 5px;
}
strong{
    font-size: 18px;
}
footer{
    background-image: linear-gradient(black, lightblue);
    background-size: cover;
    padding: 20px;
    text-align: center;
}
