body{
    font-family: 'Merienda', cursive;
    margin: 0;
}

h1{
    font-size: 40px;
}

.flex-display{
    display: flex;
    margin-bottom: 60px;
      
}
.half-width{
    width: 40%;
    margin-left: 100px;
    margin-top: 20px;
    padding-left: 3%;
    
}
.half-width img{
    width: 100%;
}

.span-color{
    color: rgb(27, 118, 148);
}

/*
.upperRight-background{
    background-image: url(images/shapes/backgroundStyle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
} */

.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(6, 64, 83), lightblue);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;

}
.recipe-section{
    text-align: center;
    padding: 40px;
}
.middle-section{
    padding: 5%;
    background-image: url(images/shapes/backgroundFrame.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.recipe-details{
    align-items: center;
    text-align: left;
    border: 1px solid white;
    margin: 30px 60px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px gray;

}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
